TMDB_API_KEY=your_tmdb_api_key
REAL_DEBRID_API_KEY=your_rd_api_key
MOVIES_DIR=D:/Media/Movies
TV_DIR=D:/Media/TV
ARCHIVE_DIR=D:/Media/Archive
APP_DATA_DIR=C:/ProgramData/MediaDownloader
WATCH_THRESHOLD=0.85
MPC_BE_URL=http://127.0.0.1:13579
MPC_BE_EXE=C:/Program Files/MPC-BE x64/mpc-be64.exe
HOST=0.0.0.0
PORT=8000
MAX_CONCURRENT_DOWNLOADS=2
RD_POLL_INTERVAL=30
GITHUB_REPO=psychout98/media-downloader
