# .NET
bin/
obj/
publish/
*.user
*.suo
*.DotSettings
*.DotSettings.user
.vs/

# Frontend
node_modules/
dist/
.vite/

# App data
.env
*.db
staging/
posters/

# OS
.DS_Store
Thumbs.db

# Installer output
installer/Output/
